@media only screen and (max-width: 768px) {
	#header h2, .flexslider h1 {
		font-size: 20px;
	}
	.headerimage {
		padding: 30px 0px 30px !important;
	}
	#footer {
		margin-left: 0px;
	}
	.Blog {
		width: 100%;
	}
	.logo {
		text-align: center;
		float: none;
	}
	.row-header {
		padding: 60px 0 40px;
	}
	.services {
		padding-bottom: 0px;
	}
	.sharing {
		float: none;
		text-align: center;
		width: 100%;
	}
	.socials {
		float: none;
		margin-top: 15px;
		text-align: center;
	}
	.socials a {
		padding-right: 10px;
	}
	.socials li {
		margin-left: 0px;
		margin-right: 5px;
	}
	#secondsection h2 {
		margin-top: 30px;
	}
	#thirdsection img {
		margin-top: 30px;
	}
	.hid {
		display: inline-block;
		padding-bottom: 2em;
		padding-top: 2em;
	}
	.showed {
		display: none;
	}
	.nav {
		float: none;
	}
	#formulario p {
		padding-right: 0;
	}
	.slideItem h1 {
		font-size: 30px;
		letter-spacing: 2px;
		line-height: normal;
	}
	.values .prah {
		padding: 0;
	}
	.boxes {
		padding: 3em;
	}
	.main-button {
		width: 180px;
	}
	.SubFooter ul {
		text-align: left;
	}
	.SubFooter {
		padding: 1em;
	}
	.footer-below p {
		text-align: center;
		font-size: 16px;
	}
	.vCenter .socials i {
		font-size: 48px;
	}
	.slide1 {
		background: url(../img/Slide01-mobile.jpg);
	}
	.slide2 {
		background: url(../img/Slide02-mobile.jpg);
	}
	.left {
		text-align: center;
		padding-bottom: 2em;
	}
	.pad-bot {
		padding-bottom: 6em;
	}
	.logoImg {
		padding-bottom: 2em;
	}
	.pad-top{
		padding: 250px 0px 0px 0px;
	}
	.vsp{
	   font-size: 18px !important;
	   text-align: center;
	   padding-top: 10px;
	}
	.redes{
		text-align: center;
    	font-size: 55px;
	}
	.redescolor{
		color: #C8C8C8;
	}
	.thanks{
		line-height: 32px;
	    text-align: center;
	    color: #2E69F0;
	    font-size: 48px;
	    margin-bottom: 50px;
	}
	.thankstext{
		font-weight: 200;
	    font-size: 20px;
	    line-height: 32px;
	    letter-spacing: 1px;
	    margin-bottom: 20px;
	    text-align: center;
	}
}
@media only screen and (min-width: 768px) {
	.vCenter {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.slide1 {
		background: url(../img/banner-facebook.png);
	}
	.slide2 {
		background: url(../img/Slide02.jpg);
	}
	.left {
		text-align: right;
	}
	.pad-bot {
		padding-bottom: 10em;
	}
	.navbar-nav>li {
		margin-top: 15px;
	}
	.pad-top{
		padding: 150px 0px 0px 0px;
	}
	.thanks{
		line-height: 32px;
	    text-align: center;
	    color: #2E69F0;
	    font-size: 60px;
	    margin-bottom: 50px;
	}
	.thankstext{
		font-weight: 200;
	    font-size: 26px;
	    line-height: 32px;
	    letter-spacing: 1px;
	    margin-bottom: 20px;
	    text-align: center;
	}
}

@media only screen and (min-width: 320px) and (max-width: 549px) {
#inicio {
	background: url(../images/homa_bg-_mobile.png);
	padding: 30px 0px 20px 0px;
	background-size: 170% !important;
    }
#inicio h1 {
	color: white;
	font-size: 28px;
	padding: 30px 0px 10px 0px;
	line-height: 35px;
	}
#inicio h2 {
    padding: 0px 20px;
    font-size: 16px; 
    line-height: 24px;
	}
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
#inicio {
	background: url(../images/homa_bg-_mobile.png);
	padding: 50px 0px 20px 0px;
	background-size: 100% !important;
    }
#inicio h1 {
	color: white;
	font-size: 50px;
	padding: 30px 0px;
	line-height: 60px;
    }
#inicio h2 {
    padding: 0px 20px;
	}
}


@media only screen and (min-width: 769px) and (max-width: 999px) {
#inicio {
	background-color: #08142E;
	background-position: center;
    background-size: 235% !important;
	padding: 80px 0px;
    }
#inicio h2 {
    padding: 0px 100px;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
#inicio {
	background: url(../images/dot-map.png);
	background-position: center;
    background-size: 140% !important;
	padding: 30px 0px;
    }
#inicio h1 {
	color: white;
	font-size: 50px;
    }
#inicio h2 {
    padding: 0px 150px;
	}
.padtextgob{
	padding: 70px 15px;
	}
}


/*iconos de mapa diferentes resoluciones*/

@media only screen and (min-width: 768px) and (max-width: 799px){
	.truck{
		top: -170px;
	    right: 40px;
	}
	.grifo{
	    bottom: -10px;
	    right: 30px;
	}
	.ship{
		bottom: -50px;
	    right: -40px;
	}
	.solar{
		right: -400px;
	}
	.wheet{
		right: -420px;
	    top: -150px;
	}
}
@media only screen and (min-width: 800px) and (max-width: 849px){
	.truck{
		top: -150px;
	    right: 50px;
	}
	.grifo{
	    bottom: -20px;
	    right: 10px;
	}
	.ship{
		bottom: -70px;
	    right: -60px;
	}
	.solar{
		right: -470px;
	}
	.wheet{
		right: -460px;
	    top: -160px;
	}
}
@media only screen and (min-width: 850px) and (max-width: 899px){
	.truck{
		top: -150px;
	    right: 40px;
	}
	.grifo{
	    bottom: -20px;
	    right: 0px;
	}
	.ship{
		bottom: -70px;
	    right: -70px;
	}
	.solar{
		right: -480px;
	}
	.wheet{
		right: -520px;
	    top: -200px;
	}
}
@media only screen and (min-width: 900px) and (max-width: 950px){
	.truck{
		top: -150px;
	    right: 30px;
	}
	.grifo{
	    bottom: -20px;
	    right: -10px;
	}
	.ship{
		bottom: -70px;
	    right: -90px;
	}
	.solar{
		right: -500px;
	}
	.wheet{
		right: -560px;
	    top: -200px;
	}
}
@media only screen and (min-width: 951px) and (max-width: 999px){
	.truck{
		top: -150px;
	    right: 30px;
	}
	.grifo{
	    bottom: -20px;
	    right: -10px;
	}
	.ship{
		bottom: -70px;
	    right: -90px;
	}
	.solar{
		right: -540px;
	}
	.wheet{
		right: -600px;
	    top: -200px;
	}
}
@media only screen and (min-width: 1000px) and (max-width: 1100px){
	.truck{
		top: -150px;
	    right: 20px;
	}
	.grifo{
	    bottom: -20px;
	    right: -20px;
	}
	.ship{
		bottom: -70px;
	    right: -110px;
	}
	.solar{
		right: -590px;
	}
	.wheet{
		right: -650px;
	    top: -200px;
	}
}
@media only screen and (min-width: 1101px) and (max-width: 1199px){
	.truck{
		top: -150px;
	    right: 0px;
	}
	.grifo{
	    bottom: -20px;
	    right: -40px;
	}
	.ship{
		bottom: -70px;
	    right: -130px;
	}
	.solar{
		right: -700px;
	}
	.wheet{
		right: -730px;
	    top: -200px;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1350px){
	.truck{
		top: -180px;
	    right: -30px;
	}
	.grifo{
	    bottom: -20px;
	    right: -80px;
	}
	.ship{
		bottom: -70px;
	    right: -220px;
	}
	.solar{
		right: -700px;
	}
	.wheet{
		right: -750px;
	    top: -200px;
	}
}
@media only screen and (min-width: 1351px) and (max-width: 1550px){
	.truck{
		top: -180px;
	    right: -30px;
	}
	.grifo{
	    bottom: -20px;
	    right: -80px;
	}
	.ship{
		bottom: -70px;
	    right: -250px;
	}
	.solar{
		right: -800px;
	}
	.wheet{
		right: -850px;
	    top: -200px;
	}
}
@media only screen and (min-width: 1551px) and (max-width: 1750px){
	.truck{
		top: -180px;
	    right: 0px;
	}
	.grifo{
	    bottom: -20px;
	    right: -50px;
	}
	.ship{
		bottom: -70px;
	    right: -250px;
	}
	.solar{
		right: -850px;
	}
	.wheet{
		right: -900px;
	    top: -200px;
	}
}
@media only screen and (min-width: 1751px) and (max-width: 2000px){
	.truck{
		top: -180px;
	    right: 100px;
	}
	.grifo{
	    bottom: -20px;
	    right: 0px;
	}
	.ship{
		bottom: -70px;
	    right: -220px;
	}
	.solar{
		right: -900px;
	}
	.wheet{
		right: -950px;
	    top: -200px;
	}
}