@media only screen and (max-width: 768px) {
	#header h2, .flexslider h1 {
		font-size: 20px;
	}
	.headerimage {
		padding: 30px 0px 30px !important;
	}
	#footer {
		margin-left: 0px;
	}
	.Blog {
		width: 100%;
	}
	.logo {
		text-align: center;
		float: none;
	}
	.row-header {
		padding: 60px 0 40px;
	}
	.services {
		padding-bottom: 0px;
	}
	.sharing {
		float: none;
		text-align: center;
		width: 100%;
	}
	.socials {
		float: none;
		margin-top: 15px;
		text-align: center;
	}
	.socials a {
		padding-right: 10px;
	}
	.socials li {
		margin-left: 0px;
		margin-right: 5px;
	}
	#secondsection h2 {
		margin-top: 30px;
	}
	#thirdsection img {
		margin-top: 30px;
	}
	.hid {
		display: inline-block;
		padding-bottom: 2em;
		padding-top: 2em;
	}
	.showed {
		display: none;
	}
	.nav {
		float: none;
	}
	#formulario p {
		padding-right: 0;
	}
	.slideItem h1 {
		font-size: 30px;
		letter-spacing: 2px;
		line-height: normal;
	}
	.values .prah {
		padding: 0;
	}
	.boxes {
		padding: 3em;
	}
	.main-button {
		width: 180px;
		float: none;
    	margin-left: 20px;
	}
	.SubFooter ul {
		text-align: left;
	}
	.SubFooter {
		padding: 1em;
	}
	.footer-below p {
		text-align: center;
		font-size: 16px;
	}
	.vCenter .socials i {
		font-size: 48px;
	}
	.slide1 {
		background: url(../img/Slide01-mobile.jpg);
	}
	.slide2 {
		background: url(../img/Slide02-mobile.jpg);
	}
	.left {
		text-align: center;
		padding-bottom: 2em;
	}
	.pad-bot {
		padding-bottom: 6em;
	}
	.logoImg {
		padding-bottom: 2em;
	}
	.pad-top{
		padding: 250px 0px 0px 0px;
	}
	.vsp{
	   font-size: 18px !important;
	   text-align: center;
	   padding-top: 10px;
	}
	.redes{
		text-align: center;
    	font-size: 55px;
	}
	.redescolor{
		color: #C8C8C8;
	}
	.marginleft{
		margin-left: auto;
	}
	.moveleft{
		left: 0px !important;
	}
	h4 {
	    text-align: center !important;
	    font-size: 20px;
	    float: none !important;
	}
	.built {
	    font-size: 16px;
	    text-align: center;
	}
	.paddingleft{
		padding-left: auto
	}
	.paddingright{
		padding-right: auto;
	}
	.center{
		text-align: center !important;
	}
	.padleft {
    	padding-left: 0px;
    }
    .marbot{
    	margin-bottom: 40px;
    }
    .goblin{
		max-width: 100%;
	}
	.margingoblin{
		margin-top: 50px;
	}
	.thanks{
		line-height: 32px;
	    text-align: center;
	    color: #2E69F0;
	    font-size: 48px;
	    margin-bottom: 50px;
	}
	.thankstext{
		font-weight: 200;
	    font-size: 20px;
	    line-height: 32px;
	    letter-spacing: 1px;
	    margin-bottom: 20px;
	    text-align: center;
	}
}
@media only screen and (min-width: 768px) {
	.vCenter {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.slide1 {
		background: url(../img/banner-facebook.png);
	}
	.slide2 {
		background: url(../img/Slide02.jpg);
	}
	.left {
		text-align: right;
	}
	.pad-bot {
		padding-bottom: 10em;
	}
	.navbar-nav>li {
		margin-top: 15px;
	}
	.pad-top{
		padding: 150px 0px 0px 0px;
	}
	.moveleft{
		left: -10px;
	}
	.paddingleft{
		padding-left: 0px;
	}
	.paddingright{
		padding-right: 0px;
	}
	.goblin{
		max-width: 350px !important;
	}
	.paddname{
		padding-top: 10px;
	}
	.thanks{
		line-height: 32px;
	    text-align: center;
	    color: #2E69F0;
	    font-size: 60px;
	    margin-bottom: 50px;
	}
	.thankstext{
		font-weight: 200;
	    font-size: 26px;
	    line-height: 32px;
	    letter-spacing: 1px;
	    margin-bottom: 20px;
	    text-align: center;
	}
}

@media only screen and (min-width: 320px) and (max-width: 549px) {
#inicio {
	padding: 0px 0px 0px 0px;
    }
#inicio h1 {
	font-size: 32px;
	padding: 10px 0px 10px 0px;
	line-height: 40px;
	text-align: center;
	margin-bottom: 10px;
	}
#inicio h2 {
    padding: 0px 0px;
    text-align: center !important;
	}
.padleft{
	padding-left: 0px;
	}
.namenumbers {
    font-size: 16px;
 	}
.texthard{
	font-size: 14px;
	}
.paddname{
	padding-top: 0px;
	}
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
#inicio {
	padding: 0px 0px 0px 0px;
    }
#inicio h1 {
	font-size: 40px;
	padding: 20px 0px;
	line-height: 48px;
	text-align: center;
	margin-bottom: 0px;
    }
#inicio h2 {
    padding: 0px 00px;
    text-align: center;
	}
.padleft{
	padding-left: 0px;
	}
.paddname{
	padding-top: 10px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 999px) {
#inicio {
	padding: 80px 0px 0px 0px;
    }
#inicio h2 {
    padding: 0px 0px;
	}
.padleft{
	padding-left: 50px;
	}
.container {
    width: 765px !important;
	}
.navbar-nav {
    margin: 0px -15px !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
.margingoblin{
	margin-top: 30px;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
#inicio {
	padding: 80px 0px;
    }
#inicio h1 {
	font-size: 42px;
	text-align: left;
    }
#inicio h2 {
    padding: 0px 0px;
    text-align: left;
	}
.padleft{
	padding-left: 100px;
	}
}