@media only screen and (max-width: 768px) {
	#header h2, .flexslider h1 {
		font-size: 20px;
	}
	.headerimage {
		padding: 30px 0px 30px !important;
	}
	#footer {
		margin-left: 0px;
	}
	.Blog {
		width: 100%;
	}
	.logo {
		text-align: center;
		float: none;
	}
	.row-header {
		padding: 60px 0 40px;
	}
	.services {
		padding-bottom: 0px;
	}
	.sharing {
		float: none;
		text-align: center;
		width: 100%;
	}
	.socials {
		float: none;
		margin-top: 15px;
		text-align: center;
	}
	.socials a {
		padding-right: 10px;
	}
	.socials li {
		margin-left: 0px;
		margin-right: 5px;
	}
	#secondsection h2 {
		margin-top: 30px;
	}
	#thirdsection img {
		margin-top: 30px;
	}
	.hid {
		display: inline-block;
		padding-bottom: 2em;
		padding-top: 2em;
	}
	.showed {
		display: none;
	}
	.nav {
		float: none;
	}
	#formulario p {
		padding-right: 0;
	}
	.slideItem h1 {
		font-size: 30px;
		letter-spacing: 2px;
		line-height: normal;
	}
	.values .prah {
		padding: 0;
	}
	.boxes {
		padding: 3em;
	}
	.main-button {
		width: 180px;
	}
	.SubFooter ul {
		text-align: left;
	}
	.SubFooter {
		padding: 1em;
	}
	.footer-below p {
		text-align: center;
		font-size: 16px;
	}
	.vCenter .socials i {
		font-size: 48px;
	}
	.slide1 {
		background: url(../img/Slide01-mobile.jpg);
	}
	.slide2 {
		background: url(../img/Slide02-mobile.jpg);
	}
	.left {
		text-align: center;
		padding-bottom: 2em;
	}
	.pad-bot {
		padding-bottom: 6em;
	}
	.logoImg {
		padding-bottom: 2em;
	}
	.pad-top{
		padding: 250px 0px 0px 0px;
	}
	.vsp{
	   font-size: 18px !important;
	   text-align: center;
	   padding-top: 10px;
	}
	.redes{
		text-align: center;
    	font-size: 55px;
	}
	.redescolor{
		color: #C8C8C8;
	}
	.texttech{
		text-align: center;
		margin-top: 20px;
	}
    h4 {
	    text-align: center;
    }
    .built{
    	text-align: center;
    }
    .right{
    	text-align: right;
    }
    .moveleft{
		left: 0px;
		margin-bottom: 30px;
	}
	.moveright{
		right: 0px;
	}
	.paddingdocs{
		padding: 0px 0px 60px 0px;
	}
	.center{
		text-align: center !important;
	}
	.secgoblin{
	    padding: 20px 0px;
	}
	.thanks{
		line-height: 32px;
	    text-align: center;
	    color: #2E69F0;
	    font-size: 48px;
	    margin-bottom: 50px;
	}
	.thankstext{
		font-weight: 200;
	    font-size: 20px;
	    line-height: 32px;
	    letter-spacing: 1px;
	    margin-bottom: 20px;
	    text-align: center;
	}
}
@media only screen and (min-width: 768px) {
	.vCenter {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.slide1 {
		background: url(../img/banner-facebook.png);
	}
	.slide2 {
		background: url(../img/Slide02.jpg);
	}
	.left {
		text-align: right;
	}
	.pad-bot {
		padding-bottom: 10em;
	}
	.navbar-nav>li {
		margin-top: 15px;
	}
	.pad-top{
		padding: 150px 0px 0px 0px;
	}
	.moveleft{
		left: -10px;
	}
	.moveright{
		right: -10px;
	}
	.paddingdocs{
		padding: 120px 0px;
	}
	.thanks{
		line-height: 32px;
	    text-align: center;
	    color: #2E69F0;
	    font-size: 60px;
	    margin-bottom: 50px;
	}
	.thankstext{
		font-weight: 200;
	    font-size: 26px;
	    line-height: 32px;
	    letter-spacing: 1px;
	    margin-bottom: 20px;
	    text-align: center;
	}
}

@media only screen and (min-width: 320px) and (max-width: 365px) {
#inicio h1 {
    font-size: 24px !important;
    text-align: center;
    font-weight: 400;
}
#inicio h2 {
    font-size: 20px !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 549px) {
#inicio {
	background: url(../images/Hardwre_mobile_foto.png);
	background-position: 50%;
	padding: 30px 0px 350px 0px;
    background-size: 145% !important;
    }
#inicio h1 {
	font-size: 28px;
	text-align: center;
    font-weight: 400;
	}
#inicio h2 {
    text-align: center;
    color: #FFF;
	}
}
@media only screen and (min-width: 320px) and (max-width: 349px){
	.margintop{
		margin-top: 20px;
		padding: 0px;
	}
	.margintop2{
		margin-top: 20px;
		padding: 0px;
	}
	h3{
    	text-align: left;
    	margin-bottom: 5px;
    	font-size: 10px;
    	line-height: 13px !important;
    }
    .textgoblin{
    	font-weight: 200;
	    font-size: 8.6px;
	    letter-spacing: 1px;
    }
}
@media only screen and (min-width: 350px) and (max-width: 384px){
	.margintop{
		margin-top: 20px;
		padding: 0px;
	}
	.margintop2{
		margin-top: 20px;
		padding: 0px;
	}
	h3{
    	text-align: left;
    	margin-bottom: 5px;
    	font-size: 11px;
    	line-height: 13px !important;
    }
    .textgoblin{
    	font-weight: 200;
	    font-size: 9.8px;
	    letter-spacing: 1px;
    }
}
@media only screen and (min-width: 385px) and (max-width: 436px){
	.margintop{
		margin-top: 30px;
		padding: 0px;
	}
	.margintop2{
		margin-top: 30px;
		padding: 0px;
	}
	h3{
    	text-align: left;
    	margin-bottom: 5px;
    	font-size: 12px;
    	line-height: 15px !important;
    }
    .textgoblin{
    	font-weight: 200;
	    font-size: 11.4px;
	    letter-spacing: 1px;
    }
}
@media only screen and (min-width: 437px) and (max-width: 514px){
	.margintop{
		margin-top: 50px;
		padding: 0px;
	}
	.margintop2{
		margin-top: 40px;
		padding: 0px;
	}
	h3{
    	text-align: left;
    	margin-bottom: 5px;
    	font-size: 16px;
    	line-height: 17px !important;
    }
    .textgoblin{
    	font-weight: 200;
	    font-size: 13.6px;
	    letter-spacing: 1px;
    }
}
@media only screen and (min-width: 515px) and (max-width: 768px){
	.margintop{
		margin-top: 50px;
		padding: 0px;
	}
	.margintop2{
		margin-top: 40px;
		padding: 0px;
	}
	h3{
    	text-align: left;
    	margin-bottom: 5px;
    	font-size: 23.5px;
    	line-height: 30px !important;
    }
    .textgoblin{
    	font-weight: 200;
	    font-size: 17px;
	    letter-spacing: 1px;
	    text-align: left;
    }
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
#inicio {
	background: url(../images/Hardwre_mobile_foto.png);
	background-position: 65%;
	padding: 40px 0px 400px 0px;
	background-size: 100% !important;
    }
#inicio h1 {
	color: #2E69F0;
    font-size: 38px;
	text-align: center;
	font-weight: 400;
    }
#inicio h2 {
    padding: 0px 0px;
    text-align: center;
    color: #FFF;
	}
}

@media only screen and (min-width: 769px) and (max-width: 999px) {
#inicio {
	background: url(../images/Foto_hero.png);
	background-position: 65%;
    background-position-y: 30%;
    background-size: 225% !important;
    }
h3 {
    font-size: 15.9px;
    line-height: 20px !important;
	}
.textgoblin{
    	font-weight: 200;
	    font-size: 9.9px;
	    letter-spacing: 1px;
	    text-align: left;
    }
.iconoshard{
	max-width: 150% !important;
	}
.marginsigfox{
	margin-top: 40px;
	}
.marginbotonsigfox{
	margin-top: 25px;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
#inicio {
	background: url(../images/Foto_hero.png);
	background-position: center;
    background-size: 140% !important;
    background-position-y: 30%;
	padding: 30px 0px;
    }
#inicio h1 {
    font-size: 38px;
    }
h3 {
    font-size: 23px;
    line-height: 20px !important;
	}
.textgoblin{
    	font-weight: 200;
	    font-size: 15px;
	    letter-spacing: 1px;
	    text-align: left;
    }
.marginsigfox{
	margin-top: 50px;
	}
.marginbotonsigfox{
	margin-top: 35px;
	}
}

@media only screen and (min-width: 1201px) and (max-width: 1455px) {
#inicio {
	background: url(../images/Foto_hero.png);
	background-position: center;
    background-size: 120% !important;
    padding-bottom: 50px;
    background-position-y: 30%;
    }
#inicio h1 {
    color: #2E69F0;
    font-size: 38px;
    text-align: left;
    font-weight: 400;
    }
}

@media only screen and (min-width: 1200px){
.marginsigfox{
	margin-top: 30px;
	}
.marginbotonsigfox{
	margin-top: 55px;
	}
}